.product-list,
.detail-page {
  /* padding: 1rem 4rem; */
  @apply px-8 pt-[8rem] md:px-24;
}

.products,
.similar-products-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 0.9rem;
}

.product-card,
.order-card {
  /* background-color: rgba(148, 141, 141, 0.3); */
  @apply bg-gradient-to-b;
}

.product-card:hover {
  transform: scale(1.05);
  transition: 0.3s ease;
}

.product-card:hover .cart-icon {
  display: block;
}

.active {
  padding: 0.5rem 1rem;
  border-radius: 6px;
  background-color: rgba(148, 141, 141, 0.5);
  min-width: 5rem;
}

.product-details {
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.product-info {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.cart-image {
  width: 70px;
  height: 70px;
}


@media only screen and (max-width: 768px) {
  .product-list {
    padding: 1.5rem 2.5rem;
  }

  .products,
  .similar-products-list {
    grid-template-columns: repeat(3, 1fr);
  }

  .product-details {
    grid-template-columns: 1fr;
    gap: 1rem;
  }

}

@media only screen and (max-width:500px) {
  .products,
  .similar-products-list {
    grid-template-columns: repeat(2, 1fr);
  }

  .cart-image {
    width: 40px;
    height: 40px;
  }
  
}

@media only screen and (max-width:250px) {
  .products,
  .similar-products-list {
    grid-template-columns: 1fr;
  }
}